* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* resets  */

:root {
    --padding-inline-section: 20px
}

/* utility classes  */

a {
    text-decoration: none;
    color: #777777;
    font-size: 18px;
}

li {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    margin-inline: auto;
    padding-inline: 60px;
    justify-content: space-between;
    /* max-width: 1180px; */
}

.top-banner {
    color: white;
    background-color: #00ab12;
    padding: 7px 0;
}

.fa-brands {
    font-size: 18px;
}
.banner-right {
    column-gap: 13px;
}
.banner-left {
    column-gap: 10px;
}
/* nav-bar  */
.company-logo img {
    width: 130px;
}
.nav-bar {
    justify-content: space-between;
    margin-top: 20px;
}

.hover-link {
    background-color: #e7e7e7;
    padding: 14px 12px;
}
.hover-link-1 {
    background-color: #00ab12;
    color: white;
    padding: 14px 12px;
}
.hover-link:hover {
color: white;
background-color: #00ab12;
}
.about-section {
    margin-top: 40px;
}
.about-section h2 {
    text-align: center;
    color: #00ab12;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.about-section p {
    letter-spacing: normal;
    text-align: justify;
    line-height: 23.8px;
}
.p-2 {
    letter-spacing: normal;
    text-align: justify;
    line-height: 23.8px;
    margin-top: 30px;
}

.hero-section {
    margin-top: 20px;
}

/* why choose us section */

.choose-us-section {
    
    margin-top: 40px;
    background-color: #f7f7f7;
    color: #333333;
    padding-top: 15px;
    padding-bottom: 40px;
}
.choose-us-section h2 {
    margin-top: 40px;
    text-align: center;
    color: black;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.hr-1 {
    border-top: 4px solid rgb(7, 114, 181);
    border-radius: 8px;
    width: 50px;
    margin-left: 46%;
}
.hr-2 {
    margin-top: 4px;
    border-top: 4px solid rgb(7, 114, 181);
    border-radius: 8px;
    width: 42px;
    margin-left: 46.4%;
}
.choosing-option {
    margin-top: 40px;
    
}
.availale-section  {
    min-width: 50%;
}
.promise-section {
    min-width: 50%;
}
.service-available {
    min-width: 50%;
}
.guarantee-section {
    min-width: 50%;
}
.choosing-section-2 {
    margin-top: 20px;
}
.choosing-p {
    margin-left: 4px;
}
    















/* spacer for line spacing  */
.spacer {
    height: 100vh;
}
.service-header {
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;
    font-size: 1.4rem;
}
.service-section {
    margin-inline: auto;
    padding-inline: 60px;
}

.domestic-service h2 {
    color: #971a05;
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 10px;
}
.tank {
height: 100px;
border: 5px solid #00ab12;
display: block;
float: right;
}
.domestic p {
   letter-spacing: normal;
   line-height: 20px;
   margin-bottom: 20px;
   text-align: justify;
}
.readmore {
    margin-top: 100px;
    background-color: #2dc653;
    padding: 7px 12px;
    border-radius: 4px;
    color: white;
    
}
.readmore:hover {
    background-color: #00ab12;
}
.service-p {
    letter-spacing: normal;
    line-height: 20px;
    font-size: 1rem;
    margin-bottom: 20px;
    display: block;
    
}
.services-group {
    display: grid;
    grid-template-columns: 550px 550px;
    column-gap: 50px;
    flex-wrap: wrap;
    row-gap: 80px;

}

/* footer start  */

footer {
    background-color: #333333;

}

.footer {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    margin-top: 80px;
    padding-top: 30px;
    padding-bottom: 50px;
}
.contact h2, .quick-links h2, .join-us h2 {
    color: #ffffff;
    font-weight: 200;
    font-family: sans-serif;
    font-size: 1.2rem;
}
.contact p, .quick-links p {
    margin-top: 5px;
}
.quick-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.quick-links a {
    color: rgb(192, 191, 191);
    
}
.contact p {
    color: rgb(192, 191, 191);
}
.join-us h2 {
    margin-bottom: 125px;
}
.contact{
    margin-bottom: 48px;
}
.quick-link:hover {
    font-weight: bolder;
    transition: 0.2s ease-out;
}
.line {
    height: 1px;
    background-color: orange;
    margin-bottom: 20px;
}
.footer-write {
    text-align: center;
    color: rgb(202, 195, 195);
    letter-spacing: 1px;
    padding-bottom: 20px;
}
@media only screen and (max-width: 600px) {

    .top-banner {
        height: 60px;
    }

    .banner-right,
    .banner-left {
        display: none;
    }

    .company-logo img {
        width: 80%;
    }

    .Nav-links ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .Nav-links ul li {
        margin: 10px;
    }

    .about-section,
    .choose-us-section {
        margin: 30px 0;
    }

}